@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* 
font-family: "Raleway", serif - подключение Raleway
font-family: "Jost", serif - подключение Jost
*/
* {
    padding: 0;
    margin: 0;
}
body {
    background: #f5f5f5;
}

/* начало страницы */

/* описываем стрелочку-кнопочку */

body .line {
    margin-top: 50px;
    margin-left: 80px;
    background: #f5f5f5;
    color: #79919C;
    font-size: 60px;
    border-style: none;
    transition: 0.5s;
}

body .line:hover {
    color: #1d333d;
}

body #opr .head .strokes {
    color: #222427;
}

body #opr .head .strokes h1 {
    margin-left: 80px;
    color: #222427;
    font-family: "Raleway", serif;
    font-weight: 900;
    font-size: 80px;
    margin-top: -200px;
}

body #opr .head .strokes h4 {
    margin-top: 10px;
    margin-left: 520px;
    color: #79919C;
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 35px;
    filter: blur(1px);
    margin-bottom: 35x;
}

body #opr .head img {
    margin-top: -100px;
    margin-left: 900px;
    width: 450px;
}

body #opr .text p {
    margin-left: 80px;
    margin-top: 0px;
    font-family: "Raleway", serif;
    font-weight: 200;
    font-size: 22px;
    width: 640px;
    margin-bottom: 150px;
}

body #opr .text h1  {
    margin-left: 530px;
    margin-top: -110px;
    font-family: "Raleway", serif;
    font-weight: 200;
    font-size: 22px;
    width: 640px;
    margin-bottom: 150px;
}

/* начало облака кнопочек с ссылками на формулыы*/

body #phormulas button {
    color: #222427;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 25px;
    border-radius: 50px;
    border-style: none;
    height: 78px;
}

/* объём файла */

body #phormulas .one {
    background: #222427;
    color: #f5f5f5;
    width: 250px;
    margin-left: 80px;
    transition: 0.5s;
}

body #phormulas .one:hover {
    transform: scale(1.1);
}

/* объём растрового изображения */

body #phormulas .two {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 483px;
    margin-left: 100px;
    transition: 0.5s;
}

body #phormulas .two:hover {
    transform: scale(1.1);
}

/* объём моноаудиофайла */

body #phormulas .three {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 442px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .three:hover {
    transform: scale(1.1);
}

/* объём стереоаудиофайла */

body #phormulas .four {
    background: #f5f5f5;
    color: #222427;
    border-color: #79919C;
    border-style: solid;
    border-width: 2px;
    width: 442px;
    margin-left: 100px;
    margin-top: 50px;
    box-shadow: 1px 0 15px #79919C;
    transition: 0.5s;
}

body #phormulas .four:hover {
    transform: scale(1.1);
}

/* глубина кодирования файла */

body #phormulas .five {
    background: #79919C;
    color: #f5f5f5;
    width: 442px;
    margin-left: 80px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .five:hover {
    transform: scale(1.1);
}

/* глубина кодирования растровоо изображения */

body #phormulas .six {
    background: #222427;
    color: #f5f5f5;
    width: 701px;
    margin-left: 500px;
    margin-top: 40px;
    transition: 0.5s;
}

body #phormulas .six:hover {
    transform: scale(1.1);
}

/* глубина кодирования моноаудиофайла */

body #phormulas .seven {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 602px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .seven:hover {
    transform: scale(1.1);
}

/* глубина кодирования стереоаудиофайла */

body #phormulas .eight {
    background: #f5f5f5;
    color: #222427;
    border-color: #79919C;
    border-style: solid;
    border-width: 1px;
    width: 637px;
    margin-left: 100px;
    margin-top: 50px;
    box-shadow: 1px 0 15px #79919C;
    transition: 0.5s;
}

body #phormulas .eight:hover {
    transform: scale(1.1);
}

/* количество цветов в палитре */

body #phormulas .nine {
    background: #222427;
    color: #f5f5f5;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 442px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .nine:hover {
    transform: scale(1.1);
}

/* количество пикселей в изображении */

body #phormulas .ten {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 536px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .ten:hover {
    transform: scale(1.1);
}

/* частота дискретизации моноаудиофайла */

body #phormulas .eleven {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 602px;
    margin-left: 100px;
    margin-top: 50px;
    box-shadow: 1px 0 15px #222427;
    transition: 0.5s;
}

body #phormulas .eleven:hover {
    transform: scale(1.1);
}

/* частота дискретизации стереоаудиофайла */

body #phormulas .twelf {
    background: #79919C;
    color: #f5f5f5;
    width: 636px;
    margin-left: 600px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .twelf:hover {
    transform: scale(1.1);
}

/* длина звучания моноаудиофайла */

body #phormulas .thirteen {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 507px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .thirteen:hover {
    transform: scale(1.1);
}

/* длина звучания стереоаудиофайла */

body #phormulas .fourteen {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 532px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 1px 0 15px #222427;
    transition: 0.5s;
}

body #phormulas .fourteen:hover {
    transform: scale(1.1);
}

.company_name h5 {
    text-align: center;
    justify-content: center;
    font-family: "Raleway", serif;
    font-weight: 100;
    padding: auto 50px;
    margin-bottom: 30px;
}

@media (max-width: 480px) {

    body .line {
        margin-top: 0px;
        margin-left: 5%;
        background: #f5f5f5;
        color: #79919C;
        font-size: 60px;
        border-style: none;
        transition: 0.5s;
    }
    body #opr .head img {
        margin-top: -1;
        margin-left: 60%;
        width: 120px;
    }
    body #opr .head .strokes h1 {
        margin-left: 5%;
        margin-top: 40px;
        color: #222427;
        font-family: "Raleway", serif;
        font-weight: 900;
        font-size: 50px;
    }
    
    body #opr .head .strokes h4 {
        margin-top: 10px;
        margin-left: 67%;
        color: #79919C;
        font-family: "Raleway", serif;
        font-weight: 800;
        font-size: 30px;
        filter: blur(1px);
    }
    body #opr .text p {
        margin-left: 5%;
        margin-top: 30px;
        font-family: "Raleway", serif;
        font-weight: 200;
        font-size: 16px;
        max-width: 90%;
        margin-bottom: 50px;
    }

    body #opr .text h1  {
        margin-left: 62%;
        margin-top: 20px;
        font-family: "Raleway", serif;
        font-weight: 200;
        font-size: 16px;
        width: 640px;
        margin-bottom: 70px;
    }
    /* начало облака кнопочек с ссылками на формулыы*/

    body #phormulas button {
        color: #222427;
        font-family: "Raleway", serif;
        font-weight: 400;
        font-size: 22px;
        border-radius: 50px;
        border-style: none;
        height: 70px;
    }
    /* объём файла */

    body #phormulas .one {
        background: #222427;
        color: #f5f5f5;
        width: 250px;
        margin-left: 5%;
        transition: 0.5s;
    }
    /* объём растрового изображения */

    body #phormulas .two {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 340px;
        margin-left: 5%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* объём моноаудиофайла */
    body #phormulas .three {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 370px;
        margin-left: 2%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* объём стереоаудиофайла */

    body #phormulas .four {
        background: #f5f5f5;
        color: #222427;
        border-color: #79919C;
        border-style: solid;
        border-width: 2px;
        width: 370px;
        margin-left: 5%;
        margin-top: 30px;
        box-shadow: 1px 0 15px #79919C;
        transition: 0.5s;
    }


/* глубина кодирования файла */

    body #phormulas .five {
        background: #79919C;
        color: #f5f5f5;
        width: 300px;
        margin-left: 15%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* глубина кодирования растровоо изображения */
    body #phormulas .six {
        background: #222427;
        color: #f5f5f5;
        width: 370px;
        margin-left: 2%;
        margin-top: 40px;
        transition: 0.5s;
    }
    /* глубина кодирования моноаудиофайла */

    body #phormulas .seven {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 370px;
        margin-left: 5%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* глубина кодирования стереоаудиофайла */

    body #phormulas .eight {
        background: #f5f5f5;
        color: #222427;
        border-color: #79919C;
        border-style: solid;
        border-width: 1px;
        width: 350px;
        margin-left: 7%;
        margin-top: 40px;
        box-shadow: 1px 0 15px #79919C;
        transition: 0.5s;
    }
    /* количество цветов в палитре */

    body #phormulas .nine {
        background: #222427;
        color: #f5f5f5;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 300px;
        margin-left: 2%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* количество пикселей в изображении */

    body #phormulas .ten {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 370px;
        margin-left: 4%;
        margin-top: 20px;
        transition: 0.5s;
    }

/* частота дискретизации моноаудиофайла */

    body #phormulas .eleven {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 370px;
        margin-left: 5%;
        margin-top: 50px;
        box-shadow: 1px 0 15px #222427;
        transition: 0.5s;
    }
    /* частота дискретизации стереоаудиофайла */
    body #phormulas .twelf {
        background: #79919C;
        color: #f5f5f5;
        width: 370px;
        margin-left: 2%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* длина звучания моноаудиофайла */

    body #phormulas .thirteen {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 300px;
        margin-left: 7%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* длина звучания стереоаудиофайла */

    body #phormulas .fourteen {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 290px;
        margin-left: 22%;
        margin-top: 50px;
        margin-bottom: 100px;
        box-shadow: 1px 0 15px #222427;
        transition: 0.5s;
    }

    body .company_name {
        text-align: center;
        justify-content: center;
        font-family: "Raleway", serif;
        color: #222427;
        font-weight: 100;
        font-size: 18px;
        margin-bottom: 40px;
    }
}