@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

/* начало страницы */

/* описываем стрелочку-кнопочку */

body {
    background: #f5f5f5;
}

body .line {
    margin-top: 50px;
    margin-left: 80px;
    background: #f5f5f5;
    color: #79919C;
    font-size: 60px;
    border-style: none;
    transition: 0.5s;
}

body .line:hover {
    color: #1d333d;
}

body #opr .head .strokes {
    color: #222427;
}

body #opr .head .strokes h1 {
    margin-left: 80px;
    color: #222427;
    font-family: "Raleway", serif;
    font-weight: 900;
    font-size: 80px;
    margin-top: -250px;
}

body #opr .head .strokes h4 {
    margin-top: -50px;
    margin-left: 260px;
    color: #79919C;
    font-family: "Raleway", serif;
    font-weight: 800;
    font-size: 35px;
    filter: blur(1px);
}


body #opr .head img {
    margin-top: -100px;
    margin-left: 950px;
    width: 400px;
}

body #opr .text p {
    margin-left: 80px;
    margin-top: 60px;
    font-family: "Raleway", serif;
    font-weight: 200;
    font-size: 22px;
    width: 640px;
    margin-bottom: 150px;
}

body #opr .text h1 {
    margin-left: 500px;
    margin-top: -110px;
    font-family: "Raleway", serif;
    font-weight: 200;
    font-size: 22px;
    width: 640px;
    margin-bottom: 150px;
}


/* переход к формулам */

body #phormulas button {
    color: #222427;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 25px;
    border-radius: 50px;
    border-style: none;
    height: 78px;
}

/* масса */

body #phormulas .one {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 183px;
    margin-left: 80px;
    box-shadow: 1px 0 15px #222427;
    transition: 0.5s;
}

body #phormulas .one:hover {
    transform: scale(1.1);
}

/* объём */

body #phormulas .two {
    background: #79919C;
    color: #f5f5f5;
    width: 175px;
    margin-left: 100px;
    transition: 0.5s;
}

body #phormulas .two:hover {
    transform: scale(1.1);
}

/* плотность */

body #phormulas .three {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 226px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .three:hover {
    transform: scale(1.1);
}

/* сила тяжести */

body #phormulas .four {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .four:hover {
    transform: scale(1.1);
}

/* архимедова сила */

body #phormulas .five {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 305px;
    margin-left: 80px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .five:hover {
    transform: scale(1.1);
}

/* вес */

body #phormulas .six {
    background: #222427;
    color: #f5f5f5;
    width: 165px;
    margin-left: 100px;
    margin-top: 40px;
    transition: 0.5s;
}

body #phormulas .six:hover {
    transform: scale(1.1);
}

/* давление жидкостей/газов */

body #phormulas .seven {
    background: #222427;
    color: #f5f5f5;
    width: 447px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .seven:hover {
    transform: scale(1.1);
}

/* давление твердых тел */

body #phormulas .eight {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 404px;
    margin-left: 100px;
    margin-top: 50px;
    box-shadow: 1px 0 15px #222427;
    transition: 0.5s;
}

body #phormulas .eight:hover {
    transform: scale(1.1);
}

/* работа */

body #phormulas .nine {
    background: #f5f5f5;
    color: #222427;
    border-color: #79919C;
    border-style: solid;
    border-width: 1px;
    width: 183px;
    margin-left: 100px;
    margin-top: 50px;
    box-shadow: 1px 0 15px #79919C;
    transition: 0.5s;
}

body #phormulas .nine:hover {
    transform: scale(1.1);
}

/* мощность */

body #phormulas .ten {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 213px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .ten:hover {
    transform: scale(1.1);
}

/* коэффициент полезного механизма */

body #phormulas .eleven {
    background: #f5f5f5;
    color: #222427;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 602px;
    margin-left: 100px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .eleven:hover {
    transform: scale(1.1);
}

/* потенциальная энергия */

body #phormulas .twelf {
    background: #79919C;
    color: #f5f5f5;
    width: 396px;
    margin-left: 260px;
    margin-top: 50px;
    transition: 0.5s;
}

body #phormulas .twelf:hover {
    transform: scale(1.1);
}

/* кинетическая энергия */

body #phormulas .thirteen {
    background: #222427;
    color: #f5f5f5;
    border-color: #222427;
    border-style: solid;
    border-width: 1px;
    width: 381px;
    margin-left: 100px;
    margin-top: 0px;
    transition: 0.5s;
    margin-bottom: 100px;
    box-shadow: 1px 0 15px #222427;
}

body #phormulas .thirteen:hover {
    transform: scale(1.1);
}

.company_name h5 {
    text-align: center;
    justify-content: center;
    font-family: "Raleway", serif;
    font-weight: 100;
    padding: auto 50px;
    margin-bottom: 30px;
}


@media (max-width: 480px) {
    body .line {
        margin-top: 0px;
        margin-left: 5%;
        background: #f5f5f5;
        color: #79919C;
        font-size: 60px;
        border-style: none;
        transition: 0.5s;
    }
    body #opr .head img {
        margin-top: -70px;
        margin-left: 60%;
        width: 150px;
    }
    body #opr .head .strokes h1 {
        margin-left: 5%;
        margin-top: 0px;
        color: #222427;
        font-family: "Raleway", serif;
        font-weight: 900;
        font-size: 70px;
    }
    
    body #opr .head .strokes h4 {
        margin-top: 10px;
        margin-left: 45%;
        color: #79919C;
        font-family: "Raleway", serif;
        font-weight: 800;
        font-size: 30px;
        filter: blur(1px);
    }
    body #opr .text p {
        margin-left: 5%;
        margin-top: 30px;
        font-family: "Raleway", serif;
        font-weight: 200;
        font-size: 18px;
        max-width: 90%;
        margin-bottom: 50px;
    }
    body #opr .text h1  {
        margin-left: 60%;
        margin-top: 20px;
        font-family: "Raleway", serif;
        font-weight: 200;
        font-size: 16px;
        width: 640px;
        margin-bottom: 70px;
    }
     /* начало облака кнопочек с ссылками на формулыы*/
     body #phormulas button {
        color: #222427;
        font-family: "Raleway", serif;
        font-weight: 400;
        font-size: 25px;
        border-radius: 50px;
        border-style: none;
        height: 70px;
    }
    body #phormulas .one {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 183px;
        margin-left: 5%;
        box-shadow: 1px 0 15px #222427;
        transition: 0.5s;
    }
    /* объём */

    body #phormulas .two {
        background: #79919C;
        color: #f5f5f5;
        width: 175px;
        margin-left: 50%;
        transition: 0.5s;
        margin-top: 20px;
    }
    /* плотность */
    body #phormulas .three {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 226px;
        margin-left: 5%;
        margin-top: 20px;
        transition: 0.5s;
    }
    /* сила тяжести */

    body #phormulas .four {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 300px;
        margin-left: 10%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* архимедова сила */

    body #phormulas .five {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 305px;
        margin-left: 5%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* вес */

    body #phormulas .six {
        background: #222427;
        color: #f5f5f5;
        width: 165px;
        margin-left: 50%;
        margin-top: 40px;
        transition: 0.5s;
    }
    /* давление жидкостей/газов */

    body #phormulas .seven {
        background: #222427;
        color: #f5f5f5;
        width: 300px;
        margin-left: 5%;
        margin-top: 50px;
        transition: 0.5s;
        height: 80px;
    }
    /* давление твердых тел */
    body #phormulas .eight {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 370px;
        margin-left: 5%;
        margin-top: 50px;
        box-shadow: 1px 0 15px #222427;
        transition: 0.5s;
    }
    /* работа */

    body #phormulas .nine {
        background: #f5f5f5;
        color: #222427;
        border-color: #79919C;
        border-style: solid;
        border-width: 1px;
        width: 183px;
        margin-left: 50%;
        margin-top: 50px;
        box-shadow: 1px 0 15px #79919C;
        transition: 0.5s;
    }
    /* мощность */

    body #phormulas .ten {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 213px;
        margin-left: 5%;
        margin-top: 20px;
        transition: 0.5s;
    }
    /* коэффициент полезного механизма */

    body #phormulas .eleven {
        background: #f5f5f5;
        color: #222427;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 370px;
        margin-left: 5%;
        margin-top: 50px;
        transition: 0.5s;
    }

    /* потенциальная энергия */

    body #phormulas .twelf {
        background: #79919C;
        color: #f5f5f5;
        width: 300px;
        margin-left: 15%;
        margin-top: 50px;
        transition: 0.5s;
    }
    /* кинетическая энергия */

    body #phormulas .thirteen {
        background: #222427;
        color: #f5f5f5;
        border-color: #222427;
        border-style: solid;
        border-width: 1px;
        width: 300px;
        margin-left: 5%;
        margin-top: 40px;
        transition: 0.5s;
        margin-bottom: 100px;
        box-shadow: 1px 0 15px #222427;
    }

    body .company_name {
        text-align: center;
        justify-content: center;
        font-family: "Raleway", serif;
        color: #222427;
        font-weight: 100;
        font-size: 18px;
        margin-bottom: 40px;
    }
    
}